@model EXPRACU2_AGUIRRE_BASURTO.Models.Licencia
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Licencia";
    List<EXPRACU2_AGUIRRE_BASURTO.Models.Persona> persona = ViewBag.Persona;
}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Agregar Licencia
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            @using (Html.BeginForm("Guardar", "Licencia", FormMethod.Post, new { @class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", role = "form" }))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.AntiForgeryToken()
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.Label("Licencia:")
                            <select name="PersonaId" class="form-control">
                                <option @(Model.PersonaId.Equals("") ? "selected" : "") value="">-Seleccione</option>
                                @foreach (var p in persona)
                                {
                                    <option @(Model.PersonaId.Equals(p.Id) ? "Selected" : ""  ) value="@p.Id">@p.Nombres</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(x => x.PersonaId, null, new { @class = "label label-danger" })
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <select name="Tipo" class="form-control">
                            <option @(Model.Tipo == "" ? "Selected" : "") value="">Seleccione</option>
                            <option @(Model.Tipo == "" ? "Selected" : "Enfermedad") value="Enfermedad">Enfermedad</option>
                            <option @(Model.Tipo == "" ? "Selected" : "Maternidad") value="Maternidad">Maternidad</option>
                            <option @(Model.Tipo == "" ? "Selected" : "Lactancia") value="Lactancia">Lactancia</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.Tipo)

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.Fecha)
                            @Html.TextBoxFor(m => m.Fecha, new
                       {
                           @class = "form-control",
                           @id = "m_datepicker_2",
                           @readonly = "readonly",
                           @placeholder = "Select time"
                       })
                            @Html.ValidationMessageFor(m => m.Fecha)
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.FechaInicio)
                            @Html.TextBoxFor(m => m.FechaInicio, new
                       {
                           @class = "form-control",
                           @id = "m_datepicker_2",
                           @readonly = "readonly",
                           @placeholder = "Select time"
                       })
                            @Html.ValidationMessageFor(m => m.FechaInicio)
                        </div>

                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-lg-6">
                            @Html.LabelFor(m => m.FechaFin)
                            @Html.TextBoxFor(m => m.FechaFin, new
                       {
                           @class = "form-control",
                           @id = "m_datepicker_2",
                           @readonly = "readonly",
                           @placeholder = "Select time"
                       })
                            @Html.ValidationMessageFor(m => m.FechaFin)
                        </div>

                    </div>                                   
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                                @*<button type="reset" class="btn btn-secondary">
                                    Cancel
                                </button>*@
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>
