@using EXPRACU2_AGUIRRE_BASURTO.ViewModels
@model EXPRACU2_AGUIRRE_BASURTO.ViewModels.AgregarPersonalViewModel
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Personal";
}
<div class="row">
    <div class="col-lg-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Agregar Personal
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
        @using (Html.BeginForm("Agregar", "Persona", FormMethod.Post, new {@class = "m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed", role = "form"}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <div class="m-portlet__body">
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.Nombres):
                        @Html.TextBoxFor(m => m.Nombres, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese los nombres del personal"
                        })
                        @Html.ValidationMessageFor(m => m.Nombres)
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.ApellidoPaterno):
                        @Html.TextBoxFor(m => m.ApellidoPaterno, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese apellido paterno"
                        })
                        @Html.ValidationMessageFor(m => m.ApellidoPaterno)
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.ApellidoMaterno):
                        @Html.TextBoxFor(m => m.ApellidoMaterno, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese apellido materno"
                        })
                        @Html.ValidationMessageFor(m => m.ApellidoMaterno)
                    </div>
                </div>
                    

                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.DNI):
                        @Html.TextBoxFor(m => m.DNI, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese DNI"
                        })
                        @Html.ValidationMessageFor(m => m.DNI)
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.FechaNacimiento):
                        @Html.TextBoxFor(m => m.FechaNacimiento, "{0:dd/MM/yyyy}",new
                        {
                            @class = "form-control m-input",
                            @id="m_datepicker_2",
                            @placeholder = "Ingrese fecha de nacimiento"
                        })
                        @Html.ValidationMessageFor(m => m.FechaNacimiento)
                    </div>
                </div>
                    
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.Direccion):
                        @Html.TextBoxFor(m => m.Direccion, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese dirección"
                        })
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.Telefono):
                        @Html.TextBoxFor(m => m.Telefono, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese teléfono",
                            @type="phone"
                        })
                        @Html.ValidationMessageFor(m => m.Telefono)
                    </div>
                </div>
                    
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.CantHijos):
                        @Html.TextBoxFor(m => m.CantHijos, new
                        {
                            @class = "form-control m-input",
                            @placeholder = "Ingrese cantidad de hijos",
                            @type="number",
                            min=0,
                            max=20
                        })
                    </div>
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.Sexo):

                        @Html.DropDownListFor(m => m.Sexo, new SelectList(Enum.GetValues(typeof(AgregarPersonalViewModel.SexoEnum))), new { @class = "form-control m-input" })
                    </div>
                </div>
                
                <div class="form-group m-form__group row">
                    <div class="col-lg-6">
                        @Html.LabelFor(m => m.TurnoId):
                        @Html.DropDownListFor(m => m.TurnoId, new SelectList(Model.Turnos,"Id","Descripcion"),"Seleccione un turno", new { @class = "form-control m-input" })
                    </div>
                </div>

            </div>

            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">
                                Save
                            </button>
                            <a href="/Mantenimiento/Persona/Listar" class="btn btn-secondary">
                                Cancel
                            </a>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="reset" class="btn btn-danger">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
            <!--end::Form-->
        </div>
        <!--end::Portlet-->
    </div>
</div>
