@model List<EXPRACU2_AGUIRRE_BASURTO.Models.Asistencia>
@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Asistencia";
    var fecha = ((DateTime) ViewBag.Fecha).Date;
}
<div class="row">
    <div class="col-lg-12">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Lista de todo el personal
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body">
                
                @using (Html.BeginForm("Guardar", "Asistencia", FormMethod.Post, new { @class = "", role = "form" }))
                {   <!--begin: Search Form -->
                    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                        <div class="row align-items-center">
                            <div class="col-xl-8 order-2 order-xl-1">
                                <div class="form-group m-form__group row align-items-center">
                                    <div class="col-md-4">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input class="form-control m-input" value="@fecha" data-val="true" data-val-date="El campo Fecha debe ser una fecha." name="fecha" id="m_datepicker_2" placeholder="Ingrese fecha de nacimiento"/>
                                            @*@Html.TextBoxFor(m => m[0].Fecha, "{0:dd/MM/yyyy}", new
                                            {
                                                @class = "form-control m-input",
                                                @id = "m_datepicker_2",
                                                @placeholder = "Ingrese fecha de nacimiento",
                                                @name = "fecha"
                                            })*@
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" formaction="TomarAsistencia" class="btn m-btn--pill btn-outline-primary m-btn m-btn--custom m-btn--outline-2x">
                                            <span>
                                                <i class="flaticon-calendar-1"></i>
                                                <span>
                                                    Cambiar
                                                </span>
                                            </span>
                                        </button>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="m-input-icon m-input-icon--left">
                                            <input type="text" class="form-control m-input" placeholder="Buscar..." id="generalSearch">
                                            <span class="m-input-icon__icon m-input-icon__icon--left">
                                                <span>
                                                    <i class="la la-search"></i>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                <button type="submit" formaction="Guardar" class="btn btn-primary m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                                    <span>
                                        <i class="flaticon-interface-1"></i>
                                        <span>
                                            Guardar cambios
                                        </span>
                                    </span>
                                </button>
                                <div class="m-separator m-separator--dashed d-xl-none"></div>
                            </div>
                        </div>
                    </div>
                    <!--end: Search Form -->
                    <!--begin: Datatable -->
                    <table class="m-datatable" id="html_table" width="100%">
                        <thead>
                        <tr>
                            <th title="Field #1">ID</th>
                            <th title="Field #2">Nombres</th>
                            <th title="Field #3">Hora de Llegada</th>
                            <th title="Field #4">Hora de Salida</th>
                        </tr>
                        </thead>
                        <tbody>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].Id</td>                                
                                <td>@Model[i].Persona.Nombres @Model[i].Persona.ApellidoMaterno @Model[i].Persona.ApellidoMaterno</td>
                                <td>
                                    @Html.TextBoxFor(m => Model[i].HoraLLegada, new
                                    {
                                        @class = "form-control",
                                        @id = "m_timepicker_2_modal",
                                        @placeholder = "Select time"
                                    })
                                </td>

                                <td>@Html.TextBoxFor(m => Model[i].HoraSalida, new
                                    {
                                        @class = "form-control",
                                        @id = "m_timepicker_2_modal",
                                        @placeholder = "Select time"
                                    })
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                    <!--end: Datatable -->
                    for (var i = 0; i < Model.Count; i++)
                    {
                        @Html.HiddenFor(m => Model[i].Id)
                        @Html.HiddenFor(m => Model[i].PersonaId)
                    }
                }
            </div>
        </div>
    </div>
</div>

